NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=tu_secreto_nextauth_ultra_seguro_cambiar_en_produccion

GOOGLE_SERVICE_ACCOUNT_EMAIL=portal-de-obras-sa@tu-proyecto-gcp.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"

SHEETS_CONFIG='{"obrasSpreadsheetId":"1aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890","contratistasSpreadsheetId":"1aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890","certificacionesSpreadsheetId":"1aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890"}'
SHEETS_OBRAS_ID=1aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890
SHEETS_CONTRATISTAS_ID=1aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890
SHEETS_CERTIFICACIONES_ID=1aBcDeFgHiJkLmNoPqRsTuVwXyZ1234567890

SHEETS_CACHE_REVALIDATE_SECONDS=300
NEXT_PUBLIC_APP_NAME="Portal de Obras"
